#Configured by: root on Wed Jun 15 22:24:19 UTC 2016
#Wed Jun 15 22:24:19 UTC 2016
db.password="{{ mysql_fortify_password }}"
db.timeBetweenEvictionRunsMillis=1000000
jdbc.url=jdbc\:mysql\://localhost\:3306/fortify1610?connectionCollation\=latin1_general_cs
db.maxIdle=50
db.like.specialCharacters=%_\\
db.username="{{ mysql_fortify_username }}"
db.maxWait=60000
db.removeAbandoned=true
db.availableDrivers=com.mysql.jdbc.Driver
db.driver.class=com.mysql.jdbc.Driver
db.logAbandoned=true
db.defaultAutoCommit=false
db.minEvictableIdleTimeMillis=1000000
db.removeAbandonedTimeout=3000
db.validationQuery=
db.driverJars="{{ mysql_jdbc_driver }}"
db.maxActive=100
db.connection.properties=
db.dialect=com.fortify.manager.util.hibernate.MySQLDialect
