{
  "checks": {
    "disk-check": {
      "handlers": ["default"],
      "command": "/usr/local/bin/ruby  /etc/sensu/plugins/system/check-disk.rb",
      "interval": 60,
      "subscribers": [ "all" ]
    }
  }
}
