{
  "checks": {
    "disk-usage-metrics": {
      "type": "metric",
      "command": "ruby1.9.1 /etc/sensu/plugins/system/disk-usage-metrics.rb --flatten ",
      "interval": 60,
      "subscribers": [ "jenkins-slaves" ]
    }
  }
}
