[mysqld]
datadir={{ cinder_disk_partition }}/mysql
socket={{ cinder_disk_partition }}/mysql/mysql.sock
user=mysql
symbolic-links=0
max_allowed_packet=1G
innodb_log_file_size=512MB
query_cache_type=1
query_cache_size=128MB
innodb_buffer_pool_size=2G

[mysqldump]
max_allowed_packet=1G


[mysqld_safe]
log-error={{ cinder_disk_partition }}/mysql/mysqld.log
pid-file={{ cinder_disk_partition }}/mysql/mysqld.pid

