{
  "checks": {
    "auto-update": {
      "handlers": ["default"],
      "command": "cd $HOME/git-repos/local-sensu-scripts && git pull",
      "interval": 3600,
      "subscribers": [ "auto-updates" ]
    }
  }
}
