{
  "checks": {
    "jenkins_master_check": {
      "handlers": ["mailer", "hipchat"],
      "command": "/usr/local/bin/ruby  /etc/sensu/plugins/check-procs.rb -p  jenkins.war -C 1 ",
      "interval": 60,
      "subscribers": [ "jenkins-master" ]
    }
  }
}
