{
  "checks": {
    "disk-usage-metrics": {
      "type": "metric",
      "command": "/usr/local/bin/ruby  /etc/sensu/plugins/system/disk-usage-metrics.rb --flatten ",
      "interval": 300,
      "subscribers": [ "jenkins-slaves" ]
    }
  }
}
