#Configured by: root on Wed Jun 15 22:24:19 UTC 2016
#Wed Jun 15 22:24:19 UTC 2016
ldap.search.dns=
ldap.attribute.distinguishedname=distinguishedName
ldap.attribute.lastname=sn
ldap.cache.max.threads.per.cache=4
ldap.attribute.password=userPassword
ldap.url=ldap\://localhost\:389
ldap.attribute.firstname=givenName
ldap.attribute.username=sAMAccountName
ldap.class.user=organizationalPerson
ldap.validation.idleTime=5000
ldap.authenticator.type=BIND_AUTHENTICATOR
ldap.attribute.objectSid=objectSid
ldap.attribute.member=member
ldap.attribute.orgunitname=cn
ldap.pageSize=999
ldap.user.password=AGAbY6O1qDV4p7lhkklU0S/k7O46SrqvJGAEUBsfus8h
ldap.class.group=group
ldap.attribute.groupname=cn
ldap.attribute.objectclass=objectClass
ldap.cache.evictionTime=-1
ldap.base.object.sid=
ldap.referrals.processing.strategy=ignore
ldap.cache.executor.pool.size.max=12
ldap.base.dn=
ldap.enabled=false
ldap.class.orgunit=container
ldap.nestedgroups=false
ldap.cache.executor.pool.size=4
ldap.password.encoder.type=NOT_SET
ldap.enable.user.photo=true
ldap.cache=true
ldap.validation.timeLimit=5000
ldap.paging.enabled=false
ldap.attribute.thumbnailPhoto=thumbnailPhoto
ldap.attribute.email=mail
ldap.attribute.thumbnailMimeDefault=image/png
ldap.user.dn=AGAbY6O1qDV4p7lhkklU0S/k7O46SrqvJGAEUBsfus8h
