{
  "checks": {
    "disk-check-from-imports": {
      "handlers": ["hipchat"],
      "command": "/usr/local/bin/ruby  /etc/sensu/plugins/imports/system/check-disk.rb -x rootfs,tmpfs",
      "interval": 240,
      "subscribers": [ "auto-updates" ]
    }
  }
}
