{
  "client": {
    "name": "{{displayname}}-{{ansible_default_ipv4.address}}",
    "address": "{{ansible_default_ipv4.address}}",
    "subscriptions": [ "{{defaultsubscription}}" , "all", "{{ansible_distribution}}" ]
  }
}
